.header {
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    height: 200px;
}

.header img {
    height: 2.25rem;
}

.header span {
    font-weight: 900;
    font-size: 2.5rem;
}

.header > span { /* para cair nesse estilo tem que ser filho do header */
    color: var(--blue);
}

.header > span::before {
    content: "\00a0";
}

.header > span > span { /* tem que ser filho do span */
    color: var(--purple-dark);
}