.taskList {
    width: 100%;
    margin-top: 4rem;
}

.taskList header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.taskList header > span {
    line-height: 1;
    font-size: 0.875rem;
}

.taskList header span{
    font-weight: bold;
}

.taskList header span span {
    border-radius: 8px;
    color: var(--gray-100);
    background: var(--gray-400);
    margin-left: 0.5rem;
    font-size: 0.75rem;
    padding: 2px 8px;
}

.taskList header .createdClasses {
    color: var(--blue);
}

.taskList header .finishedClasses {
    color: var(--purple);
}

.taskList .emptyList {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.taskList .emptyList img {
    margin-bottom: 1rem;
}

.taskList .emptyList .title {
    font-weight: bold;
    line-height: 1.4;
}